{# templates/produtos.html #}

{{ include('inc/header.html') }}

<h1>Produtos</h1>
<p>Listagem de produtos</p>

<select name="select" id="">
	<option value="admin">Administrador</option>
	<option value="user">User</option>
</select>

<p>Última atualização: {{ "now"|date('d/m/Y H:i:s', 'America/Sao_Paulo') }}</p>

<table border="1">
	<tr>
		<th>Produto</th>
		<th>Preço</th>
	</tr>
	{% for produto in produtos %}
		<tr>
			<td>{{ produto.nome }}</td>
			<td>R$
				{{ produto.preco|number_format(2, ',', '.') }}</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="2">Nenhum produto</td>
		</tr>
	{% endfor %}
</table>


{{ include('inc/footer.html') }}
